<div class="format">
  <h2>Job: <%= @job.title %></h2>
  <div class="job-card">

    <p>Description: <%= @job.description %></p>

    <p>Level of Interest: <%= @job.level_of_interest %></p>

    <p>City: <%= link_to @job.city, "/jobs?location=#{@job.city}" %></p>

    <p>Company: <%= link_to @job.company.name, company_path(@job.company) %></p>

    <p>
      <%= link_to edit_job_path(@job), class: "btn btn-default edit" do %>
        <span class="glyphicon glyphicon-edit"></span>
      <% end %>

      <%= link_to job_path(@job), method: 'delete', class: "btn btn-default delete" do %>
        <span class="glyphicon glyphicon-trash"></span>
      <% end %>
    </p>
  </div>

  <br/>
  <br/>

  <div class="comments">
    <h4 class="job-show-h">Add a note about this job:</h4>

    <div class="comment-form">
      <%= render partial: "form_comment" %>
    </div>
      <% @job.comments.order(updated_at: :desc).each do |comment| %><div class="comment-card">
        <p>Date: <%= comment.created_at %> Comment: <%= comment.content %></p>
      </div><% end %>
  </div>
</div>
