<div>
  <%= form_for [@company, @contact] do |f| %>
  <%= f.label :name %><br>
    <%= f.text_field :name %>
    <br>
    <%= f.label :position %><br>
    <%= f.text_field :position %>
    <br>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
    <br>
    <br>
    <%= f.submit %>
  <% end %>
</div>
