<div class="index">
  <h2>Companies</h2>

  <button class="btn btn-default btn-sm"> <%= link_to new_company_path class: "btn btn-default add" do %>
      <span class="glyphicon glyphicon-plus-sign"></span> Add Company
    <% end %>
  </button>
  <br>
  <br>

  <div>
    <% @companies.each do |company| %>
      <p class=company_<%= company.id %>>

        <%= link_to edit_company_path(company), class: "btn btn-default edit" do %>
          <span class="glyphicon glyphicon-edit"></span>
        <% end %>

        <%= link_to company_path(company), method: 'delete', class: "btn btn-default delete" do %>
          <span class="glyphicon glyphicon-trash"></span>
        <% end %>

        <%= link_to company.name, company_path(company) %>
      </p>
    <% end %>
  </div>
</div>
